{% extends "index.html" %}

{% load static %}

{% block content %}
	<main id="profile">
		<header class="is-flex items-center content-between pblc-8 pi-40">
			<div class="is-flex items-center content-center gap-8">
				<span id="menu-btn" class="material-symbols-sharp">
					menu
				</span>
				<p class="logo-text">TrackIt</p>
			</div>
			<!-- <span class="material-symbols-sharp">
				notifications
			</span> -->
		</header>

		{% include "home/read_profile_page.html" %}
	</main>
{% endblock content %}
