<!DOCTYPE html>
{% load static %}

<html lang="en">

	<head>
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

		<meta name="author" content="Reigen Onizuka"/>
		<meta name="description" content="Description of the Website"/>

		<link rel="icon" href="" type="image/x-icon"/>
		<title>403 Access Denied</title>

		<!-- Main CSS -->
		<link rel="stylesheet" href="{% static 'css/403.css' %}"/>
	</head>

	<body>
		<div id="app">
			<div>403</div>
			<div class="txt">
				Forbidden<span class="blink">_</span>
			</div>
			<br>
			<a href="{{previous_url}}" class="button">Go Back</a>
		</div>

	</body>

</html>
