<!DOCTYPE html>
{% load static %}
<html lang="en">

	<head>
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

		<meta name="author" content="Author Name"/>
		<meta name="description" content="Description of the Site"/>
		<meta name="keywords" content="Keyword for the website"/>

		<link rel="icon" href="{% static 'images/TrackIt.png' %}" type="image/x-icon"/>

		<title>Trackit</title>

		<!-- Google Icons -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>

		<!-- HTMX -->
		<script src="{% static 'htmx/htmx.js' %}"></script>
		<!-- jQuery -->
		<script src="{% static 'jquery/jquery.js' %}"></script>
		<!-- Air Datepicker -->
		<link rel="stylesheet" type="text/css" href="{% static 'air-datepicker/air-datepicker.css' %}">
		<script type="text/javascript" src="{% static 'air-datepicker/air-datepicker.js' %}"></script>

		<!-- Main CSS -->
		<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
	</head>
	<!-- hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' -->

	<body hx-boost="true" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
		<div id="main-layout" class="grid-container | is-width-100 is-full-height margin-inline-center">
			<!-- SIDEBAR -->
			{% include 'navbar.html' %}

			<!-- MAIN SECTION -->
			{% block content %}{% endblock content %}
		</div>

		<script src="{% static 'js/newScript.js' %}"></script>
	</body>

</html>
