<!DOCTYPE html>
{% load static %}
<html lang="en">

	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

		<meta name="author" content="Author Name"/>
		<meta name="description" content="Description of the Site"/>
		<meta name="keywords" content="Keyword for the website"/>

		<link rel="icon" href="{% static 'images/TrackIt.png' %}" type="image/x-icon"/>

		<title>TrackIt</title>

		<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
	</head>

	<body>
		<div id="credentials">
			<div class="wrapper">
				<form method="POST">
					<h2>Change Password</h2>
                    <p class="mb-8 is-text-center">Check your email for the link to reset your password</p>
				</form>
			</div>
		</div>
	</body>

</html>
