<!DOCTYPE html>
{% load static %}
<html lang="en">

	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

		<meta name="author" content="Author Name"/>
		<meta name="description" content="Description of the Site"/>
		<meta name="keywords" content="Keyword for the website"/>

		<link rel="icon" href="{% static 'images/TrackIt.png' %}" type="image/x-icon"/>

		<title>TrackIt</title>

		<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
	</head>

	<body>
		<div id="credentials">
			<div class="wrapper">
				<form method="POST">
					{% csrf_token %}
					<h2>Change Password</h2>
					{% if messages %}
						{% for message in messages %}
							<div style="text-align: center; color: red; padding-bottom: var(--clc-8)" class="messages m-{{message.tags}}">
								<p>{{message}}</p>
							</div>
						{% endfor %}
					{% endif %}

                    <div class="form-group mt-24">
                        <input type="password" id="new_password1" name="new_password1" placeholder="Enter New Password" required="required">
                        <small class="input-error">{{field.errors.as_text}}</small>
                    </div>

                    <div class="form-group mb-n24">
                        <input type="password" id="new_password2" name="new_password2" placeholder="Confirm New Password" required="required">
                        <small class="input-error">{{field.errors.as_text}}</small>
                    </div>

					<br/>
					<input type="submit" value="Reset Password"/>
				</form>
			</div>
		</div>
	</body>

</html>
