{% extends "index.html" %}

{% block content %}
	<main id="progress">

		<div class="wrapper">
			<div class="is-flex items-center gap-16 mb-16">
				<a href="{% url 'administrator:capstone_progress_tracker_page' %}">
					<span class="fs-32 pointer material-symbols-sharp">
						keyboard_backspace
					</span>
				</a>
				<h1 class="is-page-title is-text-center flex-1">{{group.name}}
					Capstone Progress Tracker
				</h1>
			</div>

			<div class="is-flex content-end pblc-24 gap-16">
				<a class="button is-long has-icon fw-2 color-reset" href="{% url 'administrator:capstone_tracker' group.id %}">
					<p>Progress Tracker</p>
					<span class="material-symbols-sharp">
						monitoring
					</span>
				</a>
			</div>

			<section id="chapters-section" class="is-flex-column items-center content-center gap-24 pt-32">
				{% for chapter in chapters %}
					<div class="chapter">
						<div class="chapter-box">
							<div class="chapter-title">
								<div class="title">
									<span id="accordionToggler" class="fs-24 pointer material-symbols-sharp">
										expand_more
									</span>

									<h3 class="fs-20 fw-4">{{chapter.name}}</h3>
								</div>
								<input type="checkbox" {% if chapter.is_done == True %} checked="checked" {% endif %} name="" id=""/>
							</div>
							<div class="chapter-body">
								<div class="chapter-contents">
									<ul>
										{% for section in chapter.sections.all %}
											{% if section.is_done == False %}
												<li style="padding-bottom: .5rem;" class="is-flex items-center content-between">{{section.name}}</li>
											{% else %}
												<li style="padding-bottom: .5rem;" class="is-flex items-center content-between">{{section.name}}
													<span class="fill material-symbols-sharp">
														check_circle
													</span>
												</li>
											{% endif %}
										{% endfor %}
									</ul>
								</div>
							</div>
						</div>
						<div class="chapter-progress">
							{% if chapter.is_done == True %}
								<div class="progress-bar">
									<div class="progress" style="--width: 100%; --bg: #2d823f"></div>
								</div>
								<span class="fill material-symbols-sharp">
									check_circle
								</span>
							{% else %}
								<div class="chapter-progress">
									<div class="progress-bar">
										<div class="progress" style="--width: {{chapter.chapter_progress}}%; --bg: #2d823f"></div>
									</div>
									<p>{{chapter.chapter_progress|floatformat:"0"}}%</p>
								</div>
							{% endif %}
						</div>
					</div>
				{% endfor %}

			</section>
		</div>
	</main>
{% endblock content %}
