{% extends "index.html" %}
{% load static %}
{% block content %}
	<main id="home">
		<!-- MAIN CONTENT -->
		<div class="wrapper">
			<div class="is-flex items-center gap-16 mb-24">
				<a href="{% url 'administrator:home_page' %}">
					<span class="fs-32 pointer material-symbols-sharp">
						keyboard_backspace
					</span>
				</a>

				{% if fn == 'create' %}
					<h1 class="is-page-title is-text-center flex-1">Create Task</h1>
				{% else %}
					<h1 class="is-page-title is-text-center flex-1">Update Task</h1>
				{% endif %}
			</div>

			<section id="form-section" class="flatpickr">
				<form action="" method="POST">
					{% csrf_token %}

					{% for field in form %}
						<p class="fs-20 fw-4 pi-8 pblc-8">{{field.label}}</p>
						{{field}}
						<small class="input-error">{{field.errors.as_text}}</small>
					{% endfor %}

					<div class="is-flex content-end gap-8 pblc-8">
						<a href="{% url 'administrator:home_page' %}" class="button">Cancel</a>
						<button class="button" type="submit">Save</button>
					</div>
				</form>
			</section>
		</div>
	</main>

	{% if fn == 'update' %}
		<script type="text/javascript">
			var currentDD = `{{ task.deadline|date:"F d, Y h: i A" }}`;
		</script>
		<script src="{% static 'js/u_datepicker.js' %}"></script>
	{% else %}
		<script src="{% static 'js/c_datepicker.js' %}"></script>
	{% endif %}
{% endblock content %}
